<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Change Password
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<style>
    body {
        background-image: url('/image/LoginBackground.jpg');
        background-size: cover;
        height: 100%;
        width: 100%;
        font-family: 'Muli', sans-serif;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.5);
    }

    a {
        color: #333;
    }

    a:hover {
        color: #E8D426;
        text-decoration: none;
    }

    .form-control:focus {
        color: #000;
        background-color: #fff;
        border: 2px solid #E8D426;
        outline: 0;
        box-shadow: none;
    }

    .btn {
        background: #28a745;
        border: #E8D426;
    }

    .btn:hover {
        background: #088926;
        border: #E8D426;
    }
</style>

<body>
    <div class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="card card-body">
                        <form id="submitForm" action="/user/change-password" method="post" data-parsley-validate=""
                            data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1">
                            <h2>Change Password</h2>
                            <div class="form-group required">
                                <label for="username">User Name</label>
                                <input type="text" class="form-control text-lowercase" id="username" required=""
                                    name="username" value="">
                            </div>
                            <div class="form-group required">
                                <label for="email">Email</label>
                                <input type="text" class="form-control text-lowercase" id="email" required=""
                                    name="email" value="">
                            </div>
                            <div class="form-group required">
                                <label class="d-flex flex-row align-items-center" for="password">Password</label>
                                <input type="password" class="form-control" required="" id="password" name="password"
                                    value="">

                                <label class="d-flex flex-row align-items-center" for="re-password">Re-Password</label>
                                <input type="password" class="form-control" required="" id="re-password"
                                    name="re-password" value="">
                            </div>
                            <div class="form-group pt-1 submit-btn">
                                <button class="btn btn-primary btn-block" type="submit"> Change Password </button>
                            </div>
                        </form>
                        <p class="small-xl pt-3 text-center">
                            <a href="/login"> Log In </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function checkPassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("re-password").value;

            if (password != confirmPassword) {
                return false;
            }
            return true;
        }

        function checkNull() {
            var user = document.getElementById('username')
            var email = document.getElementById('email')
            var password = document.getElementById('password')
            if (user.value == "" || email.value == "" || password.value == "") {
                return false;
            }
            return true;
        }

        function isValidEmail() {
            var email = document.getElementById('email').value;
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        document.getElementById("submitForm").addEventListener("submit", function (event) {
            event.preventDefault();
            if (checkNull()) {
                if (!checkPassword()) {
                    alert("The password entered is not the same!");
                }
                else {
                    if(isValidEmail())
                    {
                        document.getElementById("submitForm").submit();
                    }
                    else{
                        alert("Please enter email with @")
                    }
                }
            } else {
                alert('Please enter all data fields!')
            }
        });
    </script>
</body>

</html>