
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <p class="col-md-4 mb-0 footer">&copy; 2023 Simple Blog</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/logged" class="nav-link px-2 footer">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 footer">About</a></li>
    </ul>
  </footer>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var moveUp = document.querySelector('.move-up');
      moveUp.addEventListener('click', function() {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });

      var moveDown = document.querySelector('.move-down');
      moveDown.addEventListener('click', function() {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'smooth'
        });
      });
    });
</script>